/*------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------перший блок---------------------------------------------------------------------*/
.title-promo-catalog{
	width: 330px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.text-title-promo-catalog{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #B3B3B3;
}
.title-center-block-promo-catalog{
	font-family: Playfair Display;
	font-size: 32px;
	font-weight: 400;
	line-height: 43px;
}
.title-vvvartciti, .title-brend-check{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
}
.varticti-line{
	width: 230px;
	height: 40px;
}
.line-vvvarticti{
	width: 20px;
	height: 3px;
}
.vvvarticti, .title-container-check-box{
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.two-title-promo-catalog{
	width: 230px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.text-one-two-title-promo-catalog{
	color: #BDB9B5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
}
.promo-catalog{
	width: 100%;
	display: flex;
	flex-direction:column;
	padding: 10px;
	padding-left: 115px;
}
.container-to-titles-promo-catalog{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.check-box-cont{
	width: 120px;
	height: 15px;
	display: flex;
	flex-dirction:column;
	justify-content:space-around;
	align-items: flex-start;	
	color:#6F6E6D;
}
.text-label{
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0em;
}
.brend-check-contaainer{
	width: 150px;
	height: 385px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: flex-start;
}
input[type="checkbox"]{
  accent-color:#6F6E6D;
}
.text-watch-block{
	display: flex;
	flex-direction:column;
	align-items: flex-start;
	justify-content: space-around;
}
.img-watch-block-catalog{
	width: 210px;
	height: 400px;
}
.text-watch-block-catalog::first-child{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.05em;
}
.text-watch-block-catalog::last-child{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
}
.watch-container-promo-catalog{
	width: 925px;
	height: 1050px;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	box-sizing: border-box;
	padding-top: 115px;
	padding-right: 50px;
}
.mini-cont-plus-container-promo-catalog{
	width: 230px;
	height: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-mini-cont-plus-container-promo-catalog{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	color:#444240;
}
.plus-container-promo-catalog{
	height: 100px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	margin-top: 25px;
}
.promo-catalog-button{
	width: 230px;
	height: 60px;
	border: 2px solid #E7E0CF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}
.watch-block-promo-catalog--20{
	width: 250px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(206, 177, 155);
	padding-left: 10px;
}
.text-watch-block-catalog--20on{
	font-family: Playfair Display;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 0.03em;
	color:white;
}
.text-watch-block-catalog--20tw{
	color:white;
	font-family: Playfair Display;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.03em;
}
.text-watch-block--20{
	height: px;
	display: flex;
	flex-direction: column;
	justify-content:center;
}
.center-block-promo-catalog{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
}
.check-box-container-promo-catalog{
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 75px;
}
.watch-block-promo-catalog, .watch-block-promo-catalogbor{
	width: 250px;
	height: 300px;
	background:rgb(253, 253, 251);
	display: flex;
	flex-direction:column;
	justify-content: center;
	padding-left: 15px;
	padding-top: 15px;
}
.text-watch-block-catalogtw{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
}
.numbers-end-promo-catalog{
	width: 120px;
	height: 50px;
	display: flex;
	justify-content: space-around;
}
.text-numbers-end-promo-catalog{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: #b6b6b6;
}
.containet-to-numbers-end-promo-catalog{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}



.reminci-container-catalog{
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}
.title-block-reminci-container-catalog{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 50px;
	padding-left: 100px;
	padding-top: 15px;
}
.text-title-block-reminci-container-catalogon{
	font-family: Playfair Display;	
	font-size: 32px;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0em;
	color: #1b1a17;
}
.text-title-block-reminci-container-catalogtw{
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	color: #444240;
	text-decoration:underline;
}
.block-end-container-reminci-container-catalog{
	width: 380px;
	height: 450px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: flex-start;
	background: rgb(253, 253, 251);
	padding-top: 75px;
	padding-left: 15px;
}
.text-end-container-reminci-container-catalog{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.05em;
	color: #444240;
}
.text-end-container-reminci-container-catalogtw{
	font-family: Roboto;	
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	color: #636261;
}
.text-end-container-reminci-container-catalog{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.05em;
}
.title-container-end-container-reminci-container-catalog{
	height: 15px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: flex-start;
}
.end-container-reminci-container-catalog{
	width: 98%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 50px;
	padding-right: 25px;
	padding-bottom: 50px;
}
.img-end-container-reminci-container-catalog{
	width: 450px;
	height: 450px;
	padding-right: 45px;
}
.watch-block-promo-catalogbor{
	border:6px black dashed;
}